{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <div class="container home">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
      featured content or information.</p>
    <hr class="my-4">
    <p class="texto-home">It uses utility classes for typography and spacing to space content out within the larger
      container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>


    <a class="hint--top  hint--error" data-hint="This is an error tooltip">Hover me</a>

    <a class="hint--top  hint--rounded hint--no-shadow" aria-label="Yes, no shadows!">Maybe you do not want shadows.</a>
    <h2 class="texto-home">Somos una multinacional de <span class="highlight4">entrenamiento</span>, especializada en
      atender las diferentes necesidades de <span class="highlight4">formación empresarial</span>, con una metodología
      comprobada exitosamente en diferentes países de América.</h2>
  </div>

</div>

{% endblock %}