{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">

  <div class="container page" id="web-productos">
    <h1 class="section-title">Nuestros productos</h1>
    <hr/>
    <div class="row">

        <div class="col-md-4">
            <img src="../static/images/beable-freshbiz.jpg">
        </div>

      <div class="col-md-8">
        <p class="text-justify">Facilitamos espacios de aprendizaje para equipos a través de la metodología <span
            class="highlight">LEGO® Serious Play®</span>, permitiendo potenciar la innovación, creatividad, comunicación
          y habilidades gerenciales, aprovechando la conexión entre las manos y la mente para aumentar el poder del
          conocimiento. En consecuencia los pensamientos e ideas que se construyen con las manos (Nuestras manos están
          conectadas con el 70% - 80% de nuestras células cerebrales) fomentan la creatividad e innovación logrando
          mayor comprensión y recordación de la experiencia.</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}